<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>YouTube - Dashboard</title>
  <link rel="stylesheet" href="http://localhost/url_amigavel/assets/css/dashboard.css">
</head>
<body>
  <header>
    <p>Bem-vindo(a), {{ user_name }}!</p>

    <div id="actions">
      <a id="profile" href="http://localhost/url_amigavel/user/profile">Meu perfil</a>
      <button>
        <a href="http://localhost/url_amigavel/login/kill">LOGOUT</a>
      </button>
    </div>
    
  </header>
  
  
 
</body>
</html>